<h1>Post your music!</h1>


<form method="post" action="/tracks">

  <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div>

  <div>
    <label>Author:</label>
    <input type="text" name="author" >
  </div>

  <div>
    <label>URL:</label>
    <input type="text" name="url" >
  </div>

  <div>
    <input type="submit" value="Submit" >
  </div>
</form>





<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/track/<%= track.id %>"><%= track.title %></a> <small>(by: <%= track.author %>)</small></h3>
    <p>
      <%= track.url %>
    </p>
  </div>
<% end %>
